In [63]:
import rasterio
import geopandas as gpd
import numpy as np
from datetime import datetime, timedelta

<font color = 'orange'>Extract raster values to GPS points
</font>

<font color = 'green'>File path
</font>

In [9]:
File_folder = "E:/M_3/TickBases/Meeting2023/Github2/TickbasePrj/Data/GPS"
pts_path = File_folder + "/Simu_data.shp"
LST_path = 'E:/M_3/TickBases/Progress/2022/Aug/ArcMap/Al_Ek/Raster/Nava_sum_06.tif'

In [110]:
pts = gpd.read_file(pts_path)
coords = [(x,y) for x, y in zip(pts.Longitude, pts.Latitude)]
LST = rasterio.open(LST_path)

# Extract Land Surfact Temperature (LST)
pts['LST'] = [x for x in LST.sample(coords)]
pts.tail()

,GMT_Time,Latitude,Longitude,Altitude,Duration,Temperatur,Voltage,DOP,Satellites,Cause_of_F,FMT_3fac,GMT_Time_8,Cause_of_8,GMT_Time_1,Cause_of_1,ID,geometry,LST
34319,10/8/2021 14:30,36.552433,-109.050749,1846.72,17,20.5,0,1.6,7,GPS Schedule,0.0,10/8/2021 14:30,GPS Schedule,10/8/2021 14:30,GPS Schedule,799,POINT (674457.762 4046991.987),[44.158905]
34320,10/8/2021 15:00,36.474546,-109.097644,2461.73,16,17.5,0,4.0,5,GPS Schedule,0.0,10/8/2021 15:00,GPS Schedule,10/8/2021 15:00,GPS Schedule,799,POINT (670431.042 4038266.901),[32.123943]
34321,10/8/2021 15:15,36.474649,-109.097595,2463.06,15,17.5,0,3.4,4,GPS Schedule,0.0,10/8/2021 15:15,GPS Schedule,10/8/2021 15:15,GPS Schedule,799,POINT (670435.170 4038278.436),[31.932274]
34322,10/8/2021 15:46,36.474399,-109.097615,2424.88,62,18.5,0,3.8,5,GPS Schedule,0.0,10/8/2021 15:46,GPS Schedule,10/8/2021 15:46,GPS Schedule,799,POINT (670433.971 4038250.688),[32.629944]
34323,10/8/2021 16:00,36.475265,-109.099667,2469.86,12,15.0,0,38.0,4,GPS Schedule,0.0,10/8/2021 16:00,GPS Schedule,10/8/2021 16:00,GPS Schedule,799,POINT (670248.210 4038343.079),[32.32946]

In [118]:
Pts_ID = np.array(pts.ID)
Pts_ID = np.unique(Pts_ID)
Origin_time_str = ""
Idividual = gpd.GeoDataFrame(columns = ['ID','Week','LST_Sum','NDVI_Sum','RH_Sum','Pre_Sum'])
Week_no = 0

for i in Pts_ID:
    for j in pts.index:
        if pts.loc[j,'ID'] == i:
            if j == 0:
                Week_no = 0
                if pts.loc[j,"ID"] != pts.loc[j-1,"ID"]:
                    Origin_time_str = pts.loc[j,"GMT_Time"]
                    Week_no = Week_no + 1
                    Idividual = Idividual.append([{'ID':i,'Week':Week_no,'LST_Sum':0,'NDVI_Sum':0,'RH_Sum':0,'Pre_Sum':0}],ignore_index = True)
            Ori_time_datatime = datetime.strptime(Origin_time_str, '%m/%d/%Y %H:%M')
            Curr_time_datatime = datetime.strptime(pts.loc[j,'GMT_Time'], '%m/%d/%Y %H:%M')
            if Curr_time_datatime <= Ori_time_datatime+timedelta(days=7):
                Idividual.loc[Week_no-1, 'LST_Sum'] = Idividual.loc[Week_no-1,'LST_Sum']+pts.loc[j,'LST']

ValueError: time data '' does not match format '%m/%d/%Y %H:%M'

In [117]:
Idividual

    ID Week      LST_Sum NDVI_Sum RH_Sum Pre_Sum
0  717    1   [8018.377]        0      0       0
1  799    2   [7509.434]        0      0       0
2  800    3  [12399.782]        0      0       0
3  801    4  [13554.577]        0      0       0
4  802    5    [8960.09]        0      0       0
5  803    6  [15048.604]        0      0       0

In [121]:
i

717

In [105]:
ID_717 = gpd.GeoDataFrame(columns = ['Week','LST_Sum','NDVI_Sum','RH_Sum','Pre_Sum'])
ID_717 = ID_717.append([{'Week':0,'LST_Sum':0,'NDVI_Sum':0,'RH_Sum':0,'Pre_Sum':0}],ignore_index = True)

ID_717.loc[0,"LST_Sum"] = ID_717.loc[0,"LST_Sum"]+1
#ID_717['Lst_Sum'] = 1

ID_717

  Week LST_Sum NDVI_Sum RH_Sum Pre_Sum
0    0       1        0      0       0

In [71]:
datetime_object

datetime.datetime(2021, 6, 29, 16, 0)

In [76]:

datetime_str = pts.loc[1,"GMT_Time"]
datetime_str2 = pts.loc[500,"GMT_Time"]
#datetime_str = '06/29/21 13:55:26'

#datetime_str = '09/19/22 13:55:26'

datetime_object = datetime.strptime(datetime_str, '%m/%d/%Y %H:%M')

datetime_object2 = datetime.strptime(datetime_str2, '%m/%d/%Y %H:%M')

datetime_object2 < datetime_object+timedelta(days=7)

False